<form action="/adventures" method="post">
  <button class="btn btn-default">or start your new adventure</button><br>
  <input id="adventure_username" name="adventure[username]" type="text" placeholder="new adventurer">
</form>