<form action="/adventures" method="post">
  <label for="adventure_username">or become an adventurer</label><br>
  <input id="adventure_username" name="adventure[username]" type="text">
  <button class="btn-sm btn-warning">start your new adventure</button>
</form>