<form action="/adventures/<%= @adventure.id %>/chapters/<%= @chapter.id %>" method="post">
  <input id="chapter_prompt" name="chapter[:prompt]" type="text" placeholder="add choice">
  <button class="btn btn-default">new choice</button>
</form>