<form action="/adventures/<%= @adventure.id %>/chapters/<%= @chapter.id %>" method="post">
  <input id="chapter_prompt" name="chapter[:prompt]" type="text" placeholder="add choice">
  <button>new choice</button>
</form>